<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="9dd4d256-ffbd-4d7e-8694-d416f336994b" activeEnvironment="Default environment" name="REST Project 1" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>